{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Kirish{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header" style="background-color: silver ;">
                <h4 class="mb-0">Tizimga kirish</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Foydalanuvchi nomi</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Parol</label>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Kirish</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}